/***************************** home start **********************************/
#home .wrapper{
	width: 100%;
	height: 100%;
	overflow: auto;
}

.home-header {
	height: 90px;
	background: #0096ff;
	padding: 8px;
}

.home-header .info {
	height: 30px;
	position: relative;
}

.home-header .info .address {
	display: block;
	width: 60%;
	overflow: hidden;
	color: #fff;
	height: 30px;
	line-height: 30px;
}

.home-header .info .weather {
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	height: 30px;
	line-height: 30px;
}

.home-header .search {
	height: 30px;
	margin: 6px;
	border-radius: 15px;
	overflow: hidden;
	background: #fff;
}

.home-header .search input {
	outline: none;
	line-height: 30px;
	display: block;
	border: none;
	width: 100%;
	text-align: center;
}

.home-banner .swiper-slide{
	padding-bottom: 15px;
	overflow: hidden;
}
.home-banner .banner-item{
	width: 25%;
	float: left;
	padding-top: 10px;
}
.home-banner .banner-item img{
	width: 50%;
	display: block;
	border: none;
	margin: 0 auto;
}
.home-banner .banner-item span{
	display: block;
	width: 100%;
	text-align: center;
	color: #666;
	font-size: 12px;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom: 0;
}
.swiper-pagination-bullet{
	width: 6px;
	height: 6px;
}
.swiper-pagination-bullet-active{
	background: #333;
}

.sell-item{
	padding: 10px;
	display: flex;
	border-bottom: 1px solid #ddd;
}

.sell-item .item-img{
	width: 50px;
}
.sell-item .item-img img{
	border: 0;
	width: 100%;
}
.list-title{
	margin-top: 10px;
	height: 25px;
	line-height: 25px;
	padding-left: 5px;
	font-size: 12px;
	border-bottom: 1px solid #ddd;
}


/***************************** home end **********************************/


/***************************** address end **********************************/
#address.page{
	bottom: -49px;
	background: darkkhaki;
	z-index: 10;
}
#address .address-header{
	height: 44px;
	position: absolute;
	top: 0;
	left: 0;
	background: #0096FF;
	width: 100%;
}
#address .address-header h1{
	line-height: 44px;
	text-align: center;
	color: #fff;
	font-size: 16px;
}
#address .address-header span{
	position: absolute;
	line-height: 44px;
	color: #fff;
	padding: 0 10px;
}

@-webkit-keyframes slideInRight{
	0% {
	    -webkit-transform: translateX(100%);
	    visibility: visible;
	}
	100% {
	    -webkit-transform: translateX(0);
	}
}
@-webkit-keyframes slideOutRight{
	0% {
	    transform: translateX(0);
	}
	100% {
	        transform: translateX(100%);
	        visibility: hidden;
	}
}

.slide-appear.slide-appear-active {
  	animation: slideInRight 300ms;
}
.slide-leave-active{
	animation: slideOutRight 300ms;
}

/***************************** address end **********************************/


